*/databases to have fun
*/parquet
*.parquet
*.txt
*.csv
*/data
* text=auto
/models
*/models
04_Machine Learning Scientist/12_Natural_Lenguague/Model/models/
04_Machine Learning Scientist/12_Natural_Lenguague/Model/Code/DataPrep/utils/models
*.pptx
