# Configuración Global del proyecto Poblador de Ejemplos

[API]
qas = 10.221.40.224
prod = 10.221.38.241

[PATHS]
events = raw/events_documents.parquet
feedback = raw/búsquedas_con_retro_recortado.parquet

# En construcción
[BLOB_STORAGE_EVENTS]
url = https://prodllandingsensible.file.core.windows.net/safety-text-analytics-data
file_share = safety-text-analytics-data
shared_access_key = ?sv=2021-04-10&st=2022-09-08T19%3A02%3A55Z&se=2022-09-09T19%3A02%3A55Z&sr=s&sp=rl&sig=W%2F0OOmvlIUQhvXRn49uYr7PsSch%2B7mLtK9DB4L5l0T4%%3D
# l0T4%%3D en este archivo es l0T4%3D en python, se agregó un % extra para evitar error

[BLOB_STORAGE_FEEDBACK]
url = https://prodlsandbox.blob.core.windows.net/
container = safety-feedback
shared_access_key = sp=racwdl&st=2021-12-03T15:30:16Z&se=2023-01-07T23:30:16Z&sv=2020-08-04&sr=c&sig=ZxeXBTz9Ckn6cRmNJQFvDBXRvqmGBc9KiDJMlyHdSJ0%%3D
# dSJ0%%3D en este archivo es dSJ0%3D en python, se agregó un % extra para evitar error